<div class="l-topbar topbar">
	<div class="icon topbar-icon-menu clickable" id="topbar-icon-menu"></div>

	<a href="."><img class="topbar-logo" id="topbar-logo" src="images/logo_alienor_188x66.png"/></a>

	<div class="icon topbar-icon-bell clickable" id="topbar-icon-bell"></div>
	<div class="icon topbar-icon-search clickable" id="topbar-icon-search"></div>
	<!-- <form class="topbar-search" id="topbar-search">
		<input type="search" name="searchtool" placeholder="Rechercher">
	</form>
	<div class="btn topbar-search-btncancel clickable" id="topbar-search-btncancel">Annuler</div> -->
</div>