<!-- <section>
	<div ng-repeat="category in menu">
		<div ng-thumb category="category"></div>
	</div>
</section> -->


<section class="l-content" id="content">

	<section class="searchresult disable">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

	<section class="cnx-page disable">
		<form class="cnx-form" id="cnx-form" action="#">
			<label>Identifiant :</label>
			<input type="email" name="cnx-login" placeholder="Identifiant" autofocus autocomplete="off" required>
			<label>Mot de passe :</label>
			<input type="password" name="cnx-pwd" placeholder="Mot de passe" autocomplete="off" required>
			<button type="submit" class="btn clickable">Connexion</button>
		</form>
	</section>
	

	
	
	<section class="articles">
		<h1>Bienvenue sur le tout nouveau site de la F&eacute;d&eacute;ration Ali&eacute;nor !</h1>
		<h2>Mon titre</h2>
		<h3>Mon titre</h3>
		<h4>Mon titre</h4>
		<h5>Mon titre</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<article class="article">a</article>
		<article class="article">b</article>
		<article class="article">c</article>
		<article class="article">d</article>
		<article class="article">e</article>
		<article class="article">f</article>
		<article class="article">g</article>
		<article class="article">h</article>
		<article class="article">i</article>
		<article class="article">j</article>
		<article class="article">k</article>
		<article class="article">l</article>


	</section>
	<aside class="rightbar">
		<h2>Mon titre</h2>
		<h3>Mon titre</h3>
		<h4>Mon titre</h4>
		<h5>Mon titre</h5>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</aside>